body {
    margin:0;
    background-color:azure;
}

div.title, div.menu, div.content {
    width: 1000px;
    margin: auto;
    padding: 1em;
    background-color:GhostWhite ;
    border:solid 1px gray;
}

div.title {
    border-bottom:0;
}
div.menu {
/*
    border-top:0;
    border-bottom:0;
*/
}
div.content {
    border-top:0;
    margin-bottom: 5em;
}


table {
    border-collapse:collapse;
    width:100%;
}
table, th, td {
    border: 1px solid gray;
}
th {
    background-color: #BDBDFF;
}
tr:nth-child(odd) {
    background-color: #DEDEFF;
}

.wp {
    padding-left:16px;
    background-image:url("img/wp.png");
    background-repeat:no-repeat;
    background-position: center left;
}

.logo {
    max-height: 60px;
    max-width: 80px;
    background-image:url("img/bk_alpha.png");
    background-repeat:repeat;
}

.wp_logo_dialog {
    display: block;
    position: absolute;
    background-color: white;
}

.ui-menu {
    background-color: white;
    border: 1px solid gray;
}

.ui-menu-item:hover {
    background-color: #E7E7FF ;
}

.load_small,.load_medium  {
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.load_small {
    min-width: 20px;
    min-height: 20px;
    background-image:url("img/load_20.gif");
}

.load_medium {
    min-width: 60px;
    min-height: 60px;
    background-image:url("img/load_60.gif");
}

.admin_fct {
    color: red;
}
